html, body, div, span, object, h1, h2, h3, h4, h5, h6, p,
a, em, img, b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
ol,ul{list-style-type:none;}
html, body {
    height:100%;
}
h1,h2,h3,h4,h5,h6{line-height:1.2;z-index:2;margin:0 0 0.2em 0;
                  color:#fff; text-transform: uppercase;}
h1{font-size:120%;font-weight:bold;}
h2{font-size:110%;font-weight:bold;}
h3{font-size:100%;margin-top:0.6em;}
h4{font-size:100%;font-weight:bold;text-transform: none;margin-top:0.6em}
h5{font-size:100%;margin-top:0.6em}
h6{font-size:100%}
#layout.index h2 {font-family:verdana; font-size:90%;}
.news-line h2 {font-size:90%;}
* {
    line-height:1.7em;
}
body{background: none repeat scroll 0 0 #000000; color:#fff;
     font-family: Verdana,sans-serif; font-size:0.9em;
}
p {
    line-height: 1.5em;
    margin: 3px 0 10px 0px;
}
.smaller {font-size:90%;}
img, div { behavior: url(/css/iepngfix.htc) }

.nec, span.required {color:#cc0000;}
/*****************/
/* PAGE LAYOUT  */
/*****************/
#layout {margin:0 auto; width:980px; height:100%;position:relative;}
#container {width: 100%; position: relative;}
#container:after, .coupon:after, .filter:after, .gallery:after, .gallery .row:after {content: '.';display: block;clear: both;visibility: hidden;height: 0;}
* html #container, .coupon, .filter, .gallery, .galery .row {zoom:1;}
#right-wrapper {width: 100%;float: left;overflow: hidden;position:relative;}
#col-right {margin-left: 200px; width:780px;}
#col-left {
    float: left;
    width: 200px;
    margin-left: -100%;
    position: relative;
    padding-top:10px;
}
#content-wrapper {
    margin:0 15px 15px 50px; 
    width:715px;
	float:right; 
    background-attachment: scroll;
    background-position: top right;
    background-repeat: no-repeat;
}
#content-wrapper .inner {
    background: url('/images/white_tile.png') repeat scroll 0 0 transparent;
    margin-top:170px;
	width:100%;
}
#layout.product-page #content-wrapper, #layout.index #content-wrapper, #layout.product-page #content-wrapper .inner {background-image:none; filter:none;}
#layout.index #content-wrapper .inner {background-image:none; filter:none; margin: 110px 0 0;}
.flash-wrapper {
    position:relative;
    background: url("/images/background_01.jpg") no-repeat scroll 50% 0 transparent;
    height: 405px;
}
.over-flash {position:absolute; bottom:0; width:99%; z-index:999; font-family:verdana;}
.flash-column {position:relative;width:30%; float:left; background: url("/images/opacity.png") repeat; 
padding:7px 4px 3px 7px; height:85px; overflow:hidden; line-height:1.0;}
.flash-column:hover {background: url("/images/opacity_over.png") repeat; }
.flash-column a, .over-flash .central a {font-size:85%; color:#ffffff;}
.over-flash .central {margin:0 10px 0 10px;}
.over-flash .central span{line-height:1.5em;}
.official {margin-top:14px; font-size:10px; font-weight:bold; color:#ccc}
/*****************/
/* CONTENT  */
/*****************/	
.content {
    height: auto !important;
	min-height: 355px;
    overflow: hidden !important;
    padding: 15px 15px 30px 15px;
    position: relative;
	
}
.content a {
    color: #FF21A6;
}
div.hr-title {
    background: none repeat scroll 0 0 #978792;
    clear: both;
    height: 1px;
    margin: 10px 0 15px 0;
}
div.hr-title hr {display:none;}

.filter {margin-top:20px; font-size:85%; width:100%;}
.filter .pages {float:left; width:56%; overflow:hidden;}
.filter .selection {width:44%;float:left;}
.filter em {font-style:normal; margin-right:10px; display:block;}
.filter a {color: #999999;}
.filter em a:hover {color:#fff;}
div.hr-products {background: none repeat 0 0 #978792;
                 clear: both;
                 height: 1px;
                 margin: 10px 0 0;}
div.hr-products hr {display:none;}

.center {text-align:center;}
.content .text {font-size:90%;}
table.cont-w-back {width:100%; margin-bottom:10px;}
table.cont-w-back th, table.cont-w-back tr td {text-align:left; padding:5px;}
table.cont-w-back th {background-color:#464646;}
table.cont-w-back td {vertical-align:top;}
table.cont-w-back td.info {width:60%;}
table.cont-w-back strong {font-weight:bold;}
table.category {width:100%; font-size:90%;}
table.category td {vertical-align:top;padding-bottom:40px;}
table.category img {margin-right:30px;}
table.category td.sec-row {text-align:left; padding-right:50px;}
table.category a {text-decoration:none;}

ul.prod-info li{text-transform:uppercase; line-height:1.7;
}
ul.prod-info li a{
*display: inline;
 *position: relative;
 border-bottom: 1px dashed #FF21A6;
 text-decoration: none;
}
.filling {width:100%; margin-bottom:30px; margin-top:10px;}
.filling td {text-align:center;}
.advertising td.scnd{padding-top:30px;}
.advertising td {width:50%; padding:5px;}
.advertising td h2 {font-weight:bold; font-size:90%; font-family:arial;}
.advertising td span {font-size:80%;}

.prod-wrapper{clear:both;}
.prod-list {display: inline;
            float: left;
            margin: 10px 0 0;
            padding: 0;}
.prod-list {width:228px;}
.prod-list img {
    float: left;
    height: 121px;
    margin-bottom: 10px;
    width: 121px;
}
.prod-list p {
    float: left;
    margin-left: 5px;
    width: 80px;
    font-size:80%;
}
.prod-list p strong {
    display: block; font-weight:bold;padding-bottom:3px;

}
.prod-list p a {color:#fff; text-decoration:underline;}
.prod-list .tabs {
    display: block;
    padding: 10px 0 5px;
}
.tabs .sale, .tabs .new, .sale-tab .sale {
    background-color: #FF332F;
    font-family: Verdana;
    font-size: 9px;
    font-weight: bold;
    padding: 2px 3px 2px 4px;
    text-transform: uppercase;
}


/* TEXTS  */
.text p{margin-bottom:15px;}
ul.in-text {padding-left:30px;margin-bottom:10px;}
ul.decimal {list-style-type:decimal;}
ul.in-text li{list-style-position:outline;padding-bottom:5px;}
/*Gallery*/
div.gallery {width:531px;margin:0 auto;margin-top:20px;}
div.gallery .row {margin:40px 0;}
div.gallery .item {float:left;padding:0 15px;}
/* PRODUCT  */

#products {
    float: right;
    margin-top: 0;
    position: relative;
    width: 320px;
}

#product-image {
    float: left;
    margin: 0 0 0 -20px;
}
#product-top {
    float: right;
    min-height: 150px;
}
#product-top {
    clear: both;
    text-align: right;
    width: 320px;
    margin-bottom:20px;
}
img.prod-details {
    float: left;
}
#products a {text-decoration:none;}
#products a:hover {text-decoration:underline;}
#products p {margin-bottom:5px; line-height:1.7; font-size:85%;}
#products p.results  {padding-bottom:30px; line-height:1.2em;}
#products p.modal,#products p.side {line-height:1.2em;}

#price-info {
    clear: both;
    float: right;
    width: 320px;
}

#price-info .tabs {
    float: right;
    margin-top:3px;
}
#price-info .sale-tab {
    float:left;
    margin:0 !important;
}
#price-info .sale-tab .sale{
    left: 0;
    margin-top: 2px;
    position: absolute;
}
p.select {padding-top:15px;}
select.color-select {
    float: right;
    margin: -24px 0 2px 10px;
    width: 120px;
}
#price-info h4 {
    font-size: 90%;
    margin-top: 23px;
}
#Availability {
    float: right;
    margin-top: 15px;
    font-weight:bold;
    line-height:22px;
}
#price-info .buy {
    float: right;
    height: auto;
    padding:5px 0 27px;
    position: relative;
    width: 320px;
}

#price-info input {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #FBF80B;
    color: #FBF80B;
    cursor: pointer;
    font-size: 75%;
    margin: 0;
    overflow: visible;
    padding: 3px 3px 2px 3px;
    text-transform: uppercase;
    width: auto;
    line-height:12px;
}
#price-info input.buy-add {
    position: absolute;
    right: 0;
    top: -22px;
}
#price-info input.wish-add {
    border: 1px solid #C0C0C0;
    bottom: 0;
    color: #C0C0C0;
    left: auto;
    position: absolute;
    right: 0;
    top: auto;
    width: auto;
}

#price-info #email input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    cursor: pointer;
    float: left;
    margin: 0;
    text-transform: none;
    width:220px;

}
#email input#add-email-submit {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    line-height: 11px;
    margin: 0;
    text-transform: uppercase;
    width: 83px;
}
#email input#email-field {padding-bottom:3px;}
/*****************/
/* MENU  */
/*****************/
#navigation {margin:60px 0 20px 15px; font-size:75%;
             font-family: Arial,Helvetica,sans-serif;
             line-height: 1.5em;
}
#navigation ul {line-height:1.5em;}
#navigation a {display: block;
               font-weight: bold;
               text-decoration: none;
               text-transform: uppercase;}
#navigation li a, #navigation li.current li a {color: #5e5e5e;display:inline;}
#navigation li.current a, #navigation li.current li.current a {color: #fff;}
#navigation a:hover, #navigation ul ul a:hover {color:#fff;}
#navigation-info{margin-top:15px;}
#navigation li ul {font-size:95%; margin-left:10px;}
/*****************/
/* BREADCRUMBS  */
/*****************/
#crumbs {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 75%;
    padding-right: 8px;
    position: absolute;
    right: 6px;
    text-align: right;
    text-transform: uppercase;
    top: 35px;
    width: 100%;
}
#crumbs em {font-style:normal; color: #7e7e7e;}
#crumbs a {color: #7e7e7e;}
#crumbs a:hover {color: #fff;}
/*****************/
/* CART*/
/*****************/
table#cart, table#cart-info {
    border-bottom: 1px solid #978792;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 0;
    width: 100%;
    font-size:75%;
}
table#cart-info {
    border-bottom: 0 none;
    margin-top: 10px;
}
#cart-info td{text-align:left; vertical-align:top;}
td.under {border-bottom:solid 1px #fff; padding-bottom:8px;}
#cart-info td.continue-shop {text-align:right;}
#cart-info td.continue-shop a{color:#5e5e5e; text-decoration:none;}
#cart-info td.continue-shop a:hover{color:#fff;}
#cart-info b{font-weight:bold;}
table#cart td {font-weight:bold;}
table#cart th {border-bottom: 1px solid #978792;}
table#cart td, table#cart th {text-align:left; padding:0.4em 0.4em;}
input.text-quantity {width:20px; line-height:100%;}
#cart .cart-link input{background: none repeat scroll 0 0 transparent;
                       border: medium none;
                       color: #FF21A6;
                       display: block;
                       float: right;
                       font-weight: normal;
                       margin: 2px;}

table#cart-info input {
    background: none repeat scroll 0 0 #1F1F1F;
    border: 1px solid #FBF80B;
    color: #FBF80B;
    font-size: 90%;
    padding: 2px;
    text-transform: uppercase;
    width: 130px;
}
.coupon {width:100%;font-size:78%; padding:2px 10px 10px 0; line-height:1.3;}
.coupon b{font-weight:bold;}
.coupon .left {float:left; width:73%;}
.coupon .right {float:right; padding-right:10px;}
.coupon .right input.field {height:15px; width:120px; margin-bottom:10px;}

.send-wish {padding-top:10px; text-align:right;}
.cont-shop {text-align:right; padding-top:20px; padding-right:10px; font-size:90%;}
.cont-shop a{color:#5e5e5e; text-decoration:none;}
.cont-shop a:hover{color:#fff;}


table.update-profile td.but-row {text-align:right; padding-top:15px;}

/*****************/
/* NEWS */
/*****************/
.news img{float:left; padding:0 15px 15px 0;}
.news a {color:#fff;}
.news-line {clear:both; position:relative; padding-bottom:10px; overflow:hidden;}
.archive-link {width:100%; text-align:right; font-size:120%;}

/*****************/
/* FOTER */
/*****************/
#footer {width:100%; padding-bottom:15px;}
#footer .inner {margin:0 15px 25px 15px; overflow:hidden;}
.search {float:left; position:relative;}
.search input.poisk {height:15px; width:120px; vertical-align:bottom;}
.search input.submit {background-color: #000;color:#fff; font-size:12px; padding:0px 3px 6px 3px;margin:0; outline:none; border:solid 1px #fff; height:21px; vertical-align:middle;
}

.menu {float:right; width:750px;color: #666666;
       font-family: Verdana,Arial,Helvetica,sans-serif;
       font-size: 70%;
       font-weight: bold;
       text-align: right;
       text-transform: uppercase;
       line-height:1.7em;}
.menu li {display:inline; margin:0; padding-left: 12px; white-space:nowrap;}
.menu li.active {color: #fff; text-decoration: none;}
.menu a {color: #666666; text-decoration: none;}
.menu a:hover{color:#fff;}
ul.bot-links {font-weight:normal;padding-top:5px;text-transform:none;}
.menu ul.bot-links li {padding-left:10px;}
/*************/
/*FORMS*/
/**************/
input {margin:0 10px 0 0;}
input.button  {
    background: none repeat scroll 0 0 #1F1F1F;
    border: 1px solid #FBF80B;
    color: #FBF80B;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size:70%;
}
input.field {height:12px; line-height:100%;}
form dt {
    float: left;
    clear: both;
    width: 180px;
    position: relative;
    top: -2px;
    font-size:90%;
}
form dd {
    margin-bottom:15px;
}
.checkout-btns {padding-top:10px; padding-left:80px;}
p.order-step {
    color: #5E5E5E;
    float: right;
    margin-bottom: 0;
    padding-top: 0px;
}
p.order-step b {color:#fff; font-weight:bold;}
table.delivery-method {width:100%; font-size:90%;}
table.delivery-method th {font-weight:bold;}
table.order-conf-info {width:100%; font-size:90%; padding-top:20px;}

DIV.errorSummary {color:#CC0000; padding-bottom:20px;}
DIV.errorSummary p {margin: 3px 0 5px 0px;}
DIV.errorSummary ul li:before { content:'\2014\a0'; }